body {
    font: normal 20pt Arial;
}

input {
    font: normal 18pt Arial;
    width: 100px;
}

input#screen {
    font: normal 18pt Arial;
    width: 410px;
    height: 400px;
}

input#enter {
    font: normal 18pt Arial;
    width: 410px;
    margin-top:20px;
    margin-bottom:20px;
}